<h2>Gerente - Consulta Todos Clientes</h2>

<table id="cliente" style="margin-top: 8px;" class="table table-secondary table-bordered table-striped table-hover">
    <thead class="table table-primary">
        <tr class="text-center">
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Logradouro</th>
            <th>Complemento</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!--<td><a [routerLink]="['/gerentes/gerente-cliente']" class="btn btn-success btn-sm" style="width: 100%;">Maria Clara</a></td>-->
            <td class="text-center">111.222.333-44</td>
            <td class="text-center">mariaclara@email.com</td>
            <td class="text-center">AV. Marco Polo 45</td>
            <td class="text-center">AP 2001</td>
            <td class="text-center">81000-000</td>
            <td class="text-center">Curitiba</td>
            <td class="text-center">Paraná</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <!--<td><a [routerLink]="['/gerentes/gerente-cliente']" class="btn btn-success btn-sm" style="width: 100%;">Abner Silva</a></td>-->
            <td class="text-center">222.333.444-55</td>
            <td class="text-center">abner@email.com</td>
            <td class="text-center">AV. Marco Polo 45</td>
            <td class="text-center">AP 1804</td>
            <td class="text-center">88888-000</td>
            <td class="text-center">Curitiba</td>
            <td class="text-center">Paraná</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <!--<td><a [routerLink]="['/gerentes/gerente-cliente']" class="btn btn-success btn-sm" style="width: 100%;">Marcos Gomes</a></td>-->
            <td class="text-center">333.444.555-66</td>
            <td class="text-center">marosmoc@email.com</td>
            <td class="text-center">R. Montes Claros 551</td>
            <td class="text-center">-</td>
            <td class="text-center">12345-879</td>
            <td class="text-center">Curitiba</td>
            <td class="text-center">Paraná</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <!--<td><a [routerLink]="['/gerentes/gerente-cliente']" class="btn btn-success btn-sm" style="width: 100%;">Henrique Prokopenko</a></td>-->
            <td class="text-center">123.456.789-00</td>
            <td class="text-center">rique@email.com</td>
            <td class="text-center">R. Primo Lourenso Tosin 70</td>
            <td class="text-center">-</td>
            <td class="text-center">81818-80</td>
            <td class="text-center">Curitiba</td>
            <td class="text-center">Paraná</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <!--<td><a [routerLink]="['/gerentes/gerente-cliente']" class="btn btn-success btn-sm" style="width: 100%;">Allan Neves</a></td>-->
            <td class="text-center">255.255.255-99</td>
            <td class="text-center">ahlan@email.com</td>
            <td class="text-center">R. Major Silva 223</td>
            <td class="text-center">-</td>
            <td class="text-center">65412-551</td>
            <td class="text-center">Curitiba</td>
            <td class="text-center">Paraná</td>
        </tr>
    </tbody>

</table>

<!--<a class="btn btn-sm btn-secondary" [routerLink]="['/gerentes']">Voltar</a>&nbsp;-->